* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Urbanist', sans-serif; */

/* comentarios con alt + shift + a */
/* o seleccionando: control + barra (/) */

body {
    font-family: 'Urbanist';
    font-size: 16px;
    color: #252422;
    background-color: #fffcf2;
    overflow-x: hidden;
    margin: 0%;
}

h1 {
    font-family: "Amatic SC";
    font-size: 30px;
    color: #252422;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar a:hover {
color:#f4791f
}

/* .bg-negro {
    background-color: #ffffff;
    color: #000000;
} */

.btn-gris:hover {
    background-color: #aeaeae;
    color: #252422;
    border: #b4811b;
}

.c-azul {
    color:cornflowerblue
}

/* ------img fondo------- */

.div-fondo {
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/* portada con efecto parallax */

.portada-index {
    background-color: #ffffff;
    height: 850px;
    background-image: url("../img/grafica.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* -----whatsapp----- */

.caja-wp {
    background-color: #00bb2d;
    min-width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 500px;
    right: 20px;
    z-index: 1;
}

.caja-wp i {
    font-size: 1.5rem;
    color: #ffffff;
}


/* ------Tarjetas con flexbox------ */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
    gap: 80px;
}

.tarjeta {
    width: 320px;
    height: 430px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.tarjeta img {
    width: 100%;
    height: 250px;
}

.tarjeta button {
    background-color: rgba(240, 170, 40, 0.702);
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    left: 140px;
    top: 400px;
}

.tarjeta-cont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.palabra-destacada {
    font-size: 20px;
    color: #252422;
}

h2 {
    font-size: 18px;
    color: #aeaeae;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #b4811b;
}

@media (min-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1200px) {
    .section {
        display: flex;
        flex-direction: row;
    }

}


/* ----------Otras secciones----------- */

.sobre-nosotros {
    padding: 16px;
}

.sobre-titulo {
    padding: 8px 0;
}

.sobre-articulo-texto {
    padding: 16px 0;
}

.card-sobre-nosotros {
    display: flex;
    gap: 20px;
    padding: 8px 0;
}

.card-cont-icon {
    background-color: #b4811b;
    min-width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cont-icon i {
    font-size: 1.5rem;
}

.cont-img-nosotros {
    width: 100%;
}

.cont-vid-servicios video {
    width: 100%;
}

@media (min-width: 768px) {
    .sobre-articulo {
        max-width: 992px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto 0;
    }

    .cont-card-nosotros {
        grid-row: 2/3;
    }

    .cont-img-nosotros {
        grid-row: 1/3;
    }

    .cont-img-nosotros img {
        height: 500px;
        object-fit: cover;
    }

    .cont-vid-servicios {
        grid-row: 1/3;
    }

    .cont-vid-servicios video {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

}


/* -------------footer-------------- */

.footer {
    /* font-family: 'Urbanist'; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 50px;
    flex-wrap: wrap
}

footer div a {
    color: #aeaeae;
}

footer div a:hover {
    color: #000000
}

h3,
h4 {
    font-size: 12px;
    color: #aeaeae;
}

.texto-redes {
    display: flex
}


@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .texto-redes {
        display: none
    }
    
}




;