.c-title {
  font-size: 30px;
  font-family: $font-titulo;
  color: $color-titulo;
}

.c-text {
  font-size: 17px;
  color: grey;
}

// -------------------animacion---------------------

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;
	        animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s both;
}

 @-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
