.sobre-productos {
    padding: 16px;
    margin-top: 90px;
}

.sobre-titulo {
    @include flexbox();
    font-family: $font-titulo;
    font-size: 30px;
    font-weight: bold;
    color: $color-titulo;
}

.sobre-articulo-texto {
    @include flexbox();
    font-size: 17px;
    color: grey;
}

.cont-vid-productos {
    @include flexbox();
}


@media (min-width: 768px) {

    .cont-vid-productos {
        @include flexbox();

        & video {
            width: 700px;
            height: 500px;
            object-fit: cover;
        }
    }

}